<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>SmarthGraphic</title>
    <link rel="stylesheet" href="css/style.css">
    <!--  links do google-->

  </head>
  <body>
    <script type="text/javascript">
      var teste123 = "";

    </script>
    <header>
      <img src="img/logo.png" alt="Logo da SmartGraphic" width="15%" class="action">
      <nav>
        <ul>
          <li class="actionPromo">promoção</li>
          <li class="actionGallery">galeria</li>
          <li class="actionForm">contato</li>
          <li class="j_login">login</li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="camera_wrap camera_blue_skin" id="camera_wrap_2">
        <div data-thumb="" data-src="img/84.png">
          <div class="camera_caption fadeFromBottom">
            Aproveite essa oferta <em>Frete gratis para todo o Brasil</em>
          </div>
        </div>

        <div data-thumb=""  data-src="img/c4.png">
          <div class="camera_caption fadeFromBottom">
            Fique atento! <em>Melhores Preços da Web</em>
          </div>
        </div>
      </div>
    </section>

    <section class="session_promocao">
      <h1>promoção</h1>
      <div class="">
        <p>Fique ligado nas promocoes e descontos </p>
      </div>

      <article class="ajuste">
        <img src="img/promo1.jpg" alt="" width="45%">
        <ul>
          <li>Camiseta:<l class="j_compraGenero0">Masculino</l></li>
          <li >Valor:R$ <l class="j_compraValor0">19,90</l></li>
          <li>Codigo: <l class="j_compraCodigoCamiseta0">0T12</l></li>
        </ul>
        <button type="button" id="j_verifica0">Comprar</button>
      </article>

      <article class="">
        <img src="img/promo2.jpg" alt="" width="45%">
        <ul>
          <li>Camiseta: <l class="j_compraGenero1">Feminina</l></li>
          <li>Valor:R$ <l   class="j_compraValor1">19,90</l></li>
          <li>Codigo: <l class="j_compraCodigoCamiseta1">0T13</l></li>
        </ul>
        <button type="button" id="j_verifica1">Comprar</button>
      </article>

      <article class="">
        <img src="img/promo3.jpg" alt="" width="45%">
        <ul>
          <li>Camiseta: <l class="j_compraGenero2">Infantil</l></li>
          <li>Valor:R$ <l class="j_compraValor2">19,90</l></li>
          <li>Codigo: <l class="j_compraCodigoCamiseta2">0T14</l></li>
        </ul>
        <button type="button" id="j_verifica2">Comprar</button>
      </article>

    </section>

    <section class="session_galeria">
      <h1>Galeria</h1>
      <p>Todas as nossas camisetas são 100% Algodão</p>
      <ul>
        <li class="ajuste">
          <img src="img/criancaUm.png"  alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero3">Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta3">0T15</l> <br>
            Valor:R$  <l class="j_compraValor3">30,00<l>
          </p>
          <button type="submit" id="j_verifica3">Comprar</button>
        </li>

        <li>
          <img src="img/criancaDois.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero4"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta4">0T16</l> <br>
            Valor:R$ <l class="j_compraValor4">40,00</l>
          </p>
          <button type="submit" id="j_verifica4">Comprar</button>
        </li>

        <li>
          <img src="img/criancaTres.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero5"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta5">0T17</l> <br>
            Valor:R$ <l class="j_compraValor5">25,00</l>
          </p>
          <button type="submit" id="j_verifica5">Comprar</button>
        </li>

        <li>
          <img src="img/criancaQuatro.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero6"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta6">0T18</l> <br>
            Valor:R$  <l class="j_compraValor6">20,00</l>
          </p>
          <button type="submit" id="j_verifica6">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/criancaCinco.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero7"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta7">0T19</l> <br>
            Valor:R$  <l class="j_compraValor7">33,00</l>
          </p>
          <button type="submit" id="j_verifica7">Comprar</button>
        </li>

        <li>
          <img src="img/criancaSeis.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero8"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta8">0T20</l> <br>
            Valor:R$  <l class="j_compraValor8">21,00</l>
          </p>
          <button type="submit" id="j_verifica8">Comprar</button>
        </li>
        <li>
          <img src="img/criancaSete.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero9"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta9">0T21</l> <br>
            Valor:R$  <l class="j_compraValor9">27,00</l>
          </p>
          <button type="submit" id="j_verifica9">Comprar</button>
        </li>

        <li>
          <img src="img/criancaOito.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero10"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta10">0T22</l> <br>
            Valor:R$  <l class="j_compraValor10">30,00</l>
          </p>
          <button type="submit" name="button" id="j_verifica10">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/criancaNove.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero11"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta11">0T23</l> <br>
            Valor:R$  <l class="j_compraValor11">24,00</l>
          </p>
          <button type="submit" id="j_verifica11">Comprar</button>
        </li>

        <li>
          <img src="img/criancaDez.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero12"> Infantil</l><br>
            Codigo: <l class="j_compraCodigoCamiseta12">0T24</l> <br>
            Valor:R$  <l class="j_compraValor12">21,00</l>
          </p>
          <button type="submit" id="j_verifica12">Comprar</button>
        </li>
        <li>
          <img src="img/homemUm.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero13"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta13">0T16</l> <br>
            Valor:R$  <l class="j_compraValor13">40,00</l>
          </p>
          <button type="submit" id="j_verifica13">Comprar</button>
        </li>

        <li>
          <img src="img/homemDois.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero14"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta14">0T26</l> <br>
            Valor:R$  <l class="j_compraValor14">59,00</l>
          </p>
          <button type="submit" id="j_verifica14">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/homemTres.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero15"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta15">0T27</l> <br>
            Valor:R$  <l class="j_compraValor15">44,00</l>
          </p>
          <button type="submit" id="j_verifica15">Comprar</button>
        </li>

        <li >
          <img src="img/homemQuatro.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero16"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta16">0T28</l> <br>
            Valor:R$  <l class="j_compraValor16">49,00</l>
          </p>
          <button type="submit" id="j_verifica16">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemCinco.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero17"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta17">0T29</l> <br>
            Valor:R$  <l class="j_compraValor17">48,00</l>
          </p>
          <button type="submit" id="j_verifica17">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemSeis.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero18"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta18">0T30</l> <br>
            Valor:R$  <l class="j_compraValor18">37,00</l>
          </p>
          <button type="submit" id="j_verifica18">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/homemSete.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero19"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta19">0T31</l> <br>
            Valor:R$  <l class="j_compraValor19">55,00</l>
          </p>
          <button type="submit" id="j_verifica19">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemOito.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero20"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta20">0T32</l> <br>
            Valor:R$  <l class="j_compraValor20">52,00</l>
          </p>
          <button type="submit" id="j_verifica20">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemNove.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero21"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta21">0T33</l> <br>
            Valor:R$  <l class="j_compraValor21">41,00</l>
          </p>
          <button type="submit" id="j_verifica21">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemDez.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero22"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta22">0T34</l> <br>
            Valor:R$  <l class="j_compraValor22">45,00</l>
          </p>
          <button type="submit" id="j_verifica22">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/homemOnze.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero23"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta23">0T35</l> <br>
            Valor:R$  <l class="j_compraValor23">47,00</l>
          </p>
          <button type="submit" id="j_verifica23">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemDoze.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero24"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta24">0T22</l> <br>
            Valor:R$  <l class="j_compraValor24">52,00</l>
          </p>
          <button type="submit" id="j_verifica24">Comprar</button>
        </li>

        <li class="">
          <img src="img/homemTreze.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero25"> Masculina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta25">0T37</l> <br>
            Valor:R$  <l class="j_compraValor25">57,00</l>
          </p>
          <button type="submit" id="j_verifica25">Comprar</button>
        </li>

        <li class="">
          <img src="img/mulherUm.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero26"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta26">0T38</l> <br>
            Valor:R$  <l class="j_compraValor26">52,00</l>
          </p>
          <button type="submit" id="j_verifica26">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/mulherDois.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero27"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta27">0T39</l> <br>
            Valor:R$  <l class="j_compraValor27">60,00</l>
          </p>
          <button type="submit" id="j_verifica27">Comprar</button>
        </li>

        <li class="">
          <img src="img/mulherTres.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero28"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta28">0T40</l> <br>
            Valor:R$  <l class="j_compraValor28">66,00</l>
          </p>
          <button type="submit" id="j_verifica28">Comprar</button>
        </li>



        <li class="">
          <img src="img/mulherCinco.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero30"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta30">0T41</l> <br>
            Valor:R$  <l class="j_compraValor30">63,00</l>
          </p>
          <button type="submit" id="j_verifica30">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/mulherSeis.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero31"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta31">0T42</l> <br>
            Valor:R$  <l class="j_compraValor31">58,00</l>
          </p>
          <button type="submit" id="j_verifica31">Comprar</button>
        </li>

        <li class="">
          <img src="img/mulherSete.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero32"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta32">0T43</l> <br>
            Valor:R$  <l class="j_compraValor32">50,00</l>
          </p>
          <button type="submit" id="j_verifica32">Comprar</button>
        </li>

        <li class="">
          <img src="img/mulherOito.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero33"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta33">0T44</l> <br>
            Valor:R$  <l class="j_compraValor33">57,00</l>
          </p>
          <button type="submit" id="j_verifica33">Comprar</button>
        </li>

        <li class="">
          <img src="img/mulherNove.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero34"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta34">0T45</l> <br>
            Valor:R$  <l class="j_compraValor34">69,00</l>
          </p>
          <button type="submit" id="j_verifica34">Comprar</button>
        </li>

        <li class="ajuste">
          <img src="img/mulherDez.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero35"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta35">0T46</l> <br>
            Valor:R$  <l class="j_compraValor35">62,00</l>
          </p>
          <button type="submit" id="j_verifica35">Comprar</button>
        </li>
        <li class="">
          <img src="img/mulherDoze.png" alt="" width="100%">
          <p>
            Camiseta: <l class="j_compraGenero36"> Feminina</l><br>
            Codigo: <l class="j_compraCodigoCamiseta36">0T47</l> <br>
            Valor:R$  <l class="j_compraValor36">53,00</l>
          </p>
          <button type="submit" id="j_verifica36">Comprar</button>
        </li>
      </ul>
    </section>

    <section class="session_contato">
      <h1>contato</h1>
      <p>Entre em contato conosco para esclarecimentos, suporte ou sugestao </p>
      <form class="" action="" method="post">
        <input type="text" name="" value="" placeholder="Ex: Anderson B. Silva">
        <input type="email" name="" value="" placeholder="Ex: anderson..tec12@gmail.com">
        <textarea name="name" rows="8" cols="80" placeholder="seu texto aqui"></textarea>
        <button type="button" name="button">Enviar</button>
      </form>
    </section>


    <div class="modalBack">
    </div>

    <div class="modalCompra">
       <button class="btn-close">X</button>
      <h2>Processo De Compra</h2>
      <form class="" action="" method="post">
        <label for="produtoGenero">
          <span>camiseta</span>
          <input type="text" name="" value="" id="produtoGenero">
        </label>

        <label for="produtoValor">
          <span>Valor</span>
          <input type="text" name="camiseta" value="" id="produtoValor">
        </label>
        <label for="produtoGenero">
          <span>Quantidade</span>
          <select class="" name="" id="produtoQuanti">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

          <span class="ajuste">Cor</span>
          <select class="" name="">
            <option value="">Preto</option>
            <option value="">Branco</option>
            <option value="">Vermelho</option>
            <option value="">Azul</option>
            <option value="">Cinza</option>
            <option value="">Rosa</option>
          </select>

        </label>

        <label for="produtoCodigo">
          <span>Codigo</span>
          <input type="text" name="" value="" id="produtoCodigo">
        </label>
        <label for="produtoCodigo">
          <span>Tamanho</span>
          <select class="" name="">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
            <option value="GG">GG</option>
            <option value="XG">XG</option>
          </select>
        </label>

        <button type="submit" name="" class="j_confirmCompra">compra</button>
      </form>
    </div>

    <div class="modalLogin testee">
         <button class="btn-close">X</button>
         <img src="img/login.png" alt="" width="45%">
         <form class="login" action="/logIn" method="post">
           <label for="email">
             <span>email:</span>
             <input required type="text" name="email" id="nome" value="" placeholder="exemplo@exemplo.com">
           </label>

           <label for="senha">
             <span>senha:</span>
             <input required type="password" name="senha" id="senha" value="" placeholder="Digite sua senha">
           </label>
           <button type="submit" name="">Login</button>
         </form>

         <p>
           <span id="j_cadastrar">Click aqui para se cadastrar</span>
         </p>
    </div>

    <div class="modalCadastroUsuario">
      <button class="btn-close ajuste-btn">X</button>
      <h1>Cadastro De Usuario</h1>
      <form class="cadastroUsuario" action="/cadastroUsuario" method="post">
        <input required class="j_userEmail"  type="email" name="email"  id="emailUsuario" value="" placeholder="Digite seu email">
        <input required class="j_userConfirmEmail" type="email" name=""  id="" value="" placeholder="Confirme seu email">
        <input required class="j_userPass" type="password" name="senha" id="senhaUsuario" value="" placeholder="Digite sua senha">
        <input required class="j_userConfirmPass" type="password" name="" id="" value="" placeholder="Digite digite novamente sua senha">
        <!-- <button class="btn-continuar" type="button" id="">continuar</button> -->
        <span class="setas setaEsquerda j_return"><i>&#xe803;</i></span>
        <span class="setas setaEsquerda j_return2"><i>&#xe803;</i></span>
        <span class="setas setaDireita j_next "><i>&#xe802;</i></span>
        <span class="setas setaDireita j_next2 "><i>&#xe802;</i></span>

        <input required class="hide j_userInfo" type="text" name="nome" id="nomeUsuario" value="" placeholder="Digite seu nome">
        <input required class="hide j_userInfo" type="text" name="sobreNome" id="sobreNomeUsuario" value="" placeholder="Digite seu sobrenome">

        <input required class="hide j_userInfo" type="text" name="dataNascimento" id="nascimentoUsuario" value="Data de nascimento" placeholder="Digite a data de nascimento">

        <input required class="hide j_userInfo" type="text" name="cpf" id="cpfUsuario" value="" placeholder="Digite seu cpf  000.000.000-00">
        <input required class="hide j_userInfo" type="text" name="celular" id="telefoneUsuario" value="" placeholder="Celular (11) 94444-1234">
        <button class="hide btn-fini" type="button" id="">continuar</button>

        <input required class="hide j_userEnd" type="text" name="endereco" id="enderecoUsuario" value="" placeholder="Digite seu endereço">
        <input required class="hide j_userEnd" type="text" name="numero" id="numeroCasaUsuario" value="" placeholder="Numero">
        <input required class="hide j_userEnd" type="text" name="bairro" id="bairroCasaUsuario" value="" placeholder="Bairro">
        <input required class="hide j_userEnd" type="text" name="cidade" id="cidadeCasaUsuario" value="" placeholder="Cidade">
        <input required class="hide j_userEnd" type="text" name="estado" id="estadoCasaUsuario" value="" placeholder="Estado">
        <input required class="hide j_userEnd" type="text" name="cep" id="cepUsuario" value="" placeholder="Digite seu CEP">

        <button class="hide j_btnCadastrar" type="submit" id="cadastrarUsuario" name="">Cadastrar</button>
      </form>
    </div>

    <div class="modalI">
      <h2>Ops =(</h2>
      <span class="alertUser">erro</span>
      <span class="alertBtn">Fechar</span>
    </div>
    <style media="screen">
      h2{
        text-align: center;
      }
      .modalI{
        position: fixed;
        width: 500px;
        height: 117px;
        background-color: rgba(0,0,0,0.9);
        z-index: 92;
        top: 33%;
        left: 30.5%;
        padding: 2%;
        border-radius:2%;
        display: none;
        color:white;
      }

      .alertUser, .alertBtn{
        display:block;
        font-size: 1.4em;
        text-align: center;
      }

      .alertBtn{
        text-align: center;
        margin-top: 2%;
        background: red;

      }
      .alertBtn:hover{
        cursor: pointer;
      }

    </style>

    <script src="js/full.js">
    </script>
    <script type="text/javascript">
      $(function(){
        $('.alertBtn').bind("click",function(){
          $('.modalI').fadeOut();
          $('.modalBack').css("z-index","10");

        })
      })
    </script>
  </body>
</html>
